In [2]:
from micom.data import test_data

data = test_data()
data

,id,genus,species,reactions,metabolites,sample_id,abundance
0,Escherichia_coli_1,Escherichia,Escherichia coli 0,95,72,sample_1,290
1,Escherichia_coli_2,Escherichia,Escherichia coli 1,95,72,sample_1,680
2,Escherichia_coli_3,Escherichia,Escherichia coli 2,95,72,sample_1,954
3,Escherichia_coli_4,Escherichia,Escherichia coli 3,95,72,sample_1,871
0,Escherichia_coli_1,Escherichia,Escherichia coli 0,95,72,sample_2,613
1,Escherichia_coli_2,Escherichia,Escherichia coli 1,95,72,sample_2,692
2,Escherichia_coli_3,Escherichia,Escherichia coli 2,95,72,sample_2,817
3,Escherichia_coli_4,Escherichia,Escherichia coli 3,95,72,sample_2,372
0,Escherichia_coli_1,Escherichia,Escherichia coli 0,95,72,sample_3,180
1,Escherichia_coli_2,Escherichia,Escherichia coli 1,95,72,sample_3,301
2,Escherichia_coli_3,Escherichia,Escherichia coli 2,95,72,sample_3,918
3,Escherichia_coli_4,Escherichia,Escherichia coli 3,95,72,sample_3,294
0,Escherichia_coli_1,Escherichia,Escherichia coli 0,95,72,sample_4,258
1,Escherichia_coli_2,Escherichia,Escherichia coli 1,95,72,sample_4,356
2,Escherichia_coli_3,Escherichia,Escherichia coli 2,95,72,sample_4,865
3,Escherichia_coli_4,Escherichia,Escherichia coli 3,95,72,sample_4,596

In [3]:
from micom.data import test_db
from micom.workflows import build

manifest = build(data, out_folder="models", model_db=test_db, cutoff=0.0001, threads=2)

Output()

In [4]:
manifest

,reactions,metabolites,sample_id,file,found_taxa,total_taxa,found_fraction,found_abundance_fraction
0,95,72,sample_1,sample_1.pickle,3.0,4.0,0.75,0.896243
1,95,72,sample_2,sample_2.pickle,3.0,4.0,0.75,0.754210
2,95,72,sample_3,sample_3.pickle,3.0,4.0,0.75,0.893680
3,95,72,sample_4,sample_4.pickle,3.0,4.0,0.75,0.875663